HELP.md
JavaBackend/.mvn/wrapper/maven-wrapper.properties
JavaBackend/mvnw
JavaBackend/mvnw.cmd
JavaBackend/plan.txt 

JavaBackend/target/
JavaBackend/.mvn/wrapper/maven-wrapper.jar
JavaBackend/**/src/main/**/target/
JavaBackend/**/src/test/**/target/

### STS ###
JavaBackend/apt_generated
JavaBackend/.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# Logs
logs
*.log
ReactTsFrontEnd/npm-debug.log*
ReactTsFrontEnd/yarn-debug.log*
ReactTsFrontEnd/yarn-error.log*
ReactTsFrontEnd/pnpm-debug.log*
ReactTsFrontEnd/lerna-debug.log*


ReactTsFrontEnd/node_modules
ReactTsFrontEnd/dist
ReactTsFrontEnd/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
